
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
}





.main{
 height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form{
    min-width: 500px;
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}



.form-title{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 20px 30px;
    color: #111;
}

.form-input{
    margin: 10px 0;
}

.form-input label , .captcha label{
    display: block;
    font-size: 20px;
    color: #111;
    margin-bottom: 10px;
}

.form-input input{
    width: 100%;
    padding: 10px;
    border: 1px solid #888;
    font-size: 15px;
}

.login-form .captcha{
    margin-top: 15px 0;
}

 .captcha .preview{
  color: #555;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  letter-spacing: 8px;
  border: 1px solid #888;
}



.captcha-form{
    display: flex;
}

.captcha-form input{
    width: 90%;
    padding: 8px;
}

.captcha-refresh{
    width: 80px;
    border: none;
    outline: none;
    background: #888;
    color: #eee;
    cursor: pointer;
}

#login-btn{
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
    background: green;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}